<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassroomScheduler.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3AB49D5C36A008B27CD726B7CB826A41739E8C47</string>
				<key>dateExpires</key>
				<string>12/9/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VPA64V23J9.dssoa.ClassroomScheduler</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VPA64V23J9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ClassroomScheduler.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0d8240b4-d4bf-46b0-b193-de479b1c3db1</string>
				<key>dateExpires</key>
				<string>12/9/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dssoa.ClassroomScheduler</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VPA64V23J9</string>
				<key>name</key>
				<string>Jim Wilson</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3</string>
		</dict>
	</array>
</dict>
</plist>
